{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block navbar %}
   <li class="first">{% trans "Home" %}</li>
{% endblock %}

{% block content %}

{% if all_products_list %}
    <h2>{% trans "Featured Books" %}</h2>
	
	<div class="search-results">
    {% for product in all_products_list %}
		{% include "product/preview.html" %}
	{% endfor %}
	</div>	
{% endif %}

    {% if is_paginated %}
    <div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li class="prev"> <a href="{{shop_base}}/?page={{page_obj.previous_page_number}}">{% trans "Previous" %}</a> </li>
        {% else %}
			<!--
            <li class="prev disabled"> {% trans "Previous" %} </li>
			-->
            <li class="prev disabled"> <a href="{{shop_base}}/?page={{page_obj.previous_page_number}}">{% trans "Previous" %}</a> </li>
        {% endif %}
        {% for page_number in paginator.num_pages|template_range %}
            {% ifequal page_number page_obj.number %}
				<!-- 
                <li class="active">{{page_number}}</li>
				-->
                <li class="active"> <a href="{{shop_base}}/?page={{page_number}}">{{page_number}}</a> </li>
            {% else %}
                <li> <a href="{{shop_base}}/?page={{page_number}}">{{page_number}}</a> </li>
            {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="next"> <a href="{{shop_base}}/?page={{page_obj.next_page_number}}">{% trans "Next" %}</a></li>
        {% else %}
			<!--
            <li class="next disabled"> {% trans "Next" %} </li>
			-->
            <li class="next disabled"> <a href="{{shop_base}}/?page={{page_obj.next_page_number}}">{% trans "Next" %}</a></li>
        {% endif %}
    </ul>
    </div>
    {% endif %}
{% endblock %}
