{% load i18n %}
{% load thumbnail %}
{% load satchmo_currency satchmo_discounts %}
{% load hacks %}

<div class="search-item">
	<div class="thumbnail">
        {% thumbnail product.main_image.picture 75x100 as image %}
        <a href="{{ product.get_absolute_url }}" class="img"><img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" alt="Cover of {{product.translated_name}}"/></a>
	</div>
	<div class="details">
		<a href="{{ product.get_absolute_url }}">{{ product.translated_name }} </a> 
        {% with product|product_attrs as attrs %}
            {% if attrs.author %}
                <span class="author">by {{ attrs.author }}</span>
            {% endif %}
		{% endwith %}
		<div>
			<div class="price">
				<div class="price-value">{% trans "Price:" %} {{ product|discount_price:sale|currency}}</div>
				<form action="{% url satchmo_smart_add %}" method="post">{% csrf_token %}
					<input type="hidden" name="quantity" value="1" class="priced" />
					<input type="hidden" name="productname" value="{{product.slug}}" />
					<button type="submit" name="addcart">{% trans "Buy Now" %}</button>
				</form>
			</div>
			<div class="metadata">
				{% with product|product_attrs as attrs %}
		            {% if attrs.publisher %}
		                <div class="publisher">Publisher: {{ attrs.publisher }}</div>
		            {% endif %}
		            {% if attrs.pages %}
		                <div class="pages">Pages: {{ attrs.pages }}</div>
		            {% endif %}
		            {% if attrs.publish_date %}
		                <div class="pages">Released: {{ attrs.publish_date }}</div>
		            {% endif %}
					
					{% if attrs %}<br/>{% endif %}
				{% endwith %}
				<div class="desc">{{ product.translated_description }}</div>
			</div>
		</div>
		<br style="clear: left;"/>
	</div>
</div>
