{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}
<head>
    {% block extra-head %}{% endblock %}
    
    {% block stylesheet %}<link rel="stylesheet/less" type="text/css" href="{{ media_url }}css/{{ theme }}" />{% endblock %}
    <script type="text/javascript" src="{{ media_url }}js/less-1.1.5.min.js"></script>
    

    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
    {% plugin_point "page_head" %}
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>

	<!--
    {% plugin_point "page_top" %}
	-->
	<div id="wrapper">

    <div id="header">
        <div class="container clearfix">
            <div id="account" style="float: right;">
				
				{% if user.is_staff %}
				<a href="/admin/" class="admin">Admin</a> &nbsp; &bullet; &nbsp; 
				
				{% endif %}
				
                <a href="/contact/">Contact Us</a> 
				| <a href="#" class="fixthis">FAQ</a> &nbsp; &bullet; &nbsp; 
				
				
				{% if user.is_authenticated %}
					{% url satchmo_account_info as accounturl %}
					Welcome {{ user.username }}! 
					| <a href="{{ accounturl }}">Account</a>
					| <a href="{{ logout_url }}?next={{request.path}}">{% trans "Log out" %}</a>
				{% else %}
					<a href="{{ login_url }}?next={{request.path}}">{% trans "Log in" %}</a>
				{% endif %}
				<br/>
				<br/>
				<span id="colors">
					<span id="color1">1</span>
					<span id="color2">2</span>
					<span id="color3">3</span>
					<span id="color4">4</span>
					<span id="color5">5</span>
					<span id="color6">6</span>
					<span id="color7">7</span>
					<span id="color8">8</span>
					<span id="color9">9</span>
					<span id="color0">0</span>
				</span>
            </div>
            <h1 style="margin:0px; padding: 0px; margin-bottom: -10px;"><a href="/">{{shop_name}}</a></h1>
            <!--
            <div style="margin: 10px 0px -10px 0px; font-size: 0.9em; color: #444;">
                పోన్: 08559 240222 | ఈ-మెయిలు: shop@kottapalli.in 
            </div>
            -->
        </div>
    </div>
	

    <div id="nav" class="nav">
        <div class="container clearfix">
            <ul id="top-menu">
                <li><a href="/">మొదటి పేజి</a></li>
                <li><a href="http://kottapalli.in/">కొత్తపల్లి పిల్లల మాస పత్రిక</a></li>
            </ul>
			<a href="/cart/" id="cart-outer" class="button">
	            <div id="cart">
					Cart ({{ cart.numItems|normalize_decimal }})
	            </div>
			</a>
            <div id="search" style="padding: 10px 20px; float: right;">
                <form action='/search/'>
                <input type="text" name="keywords" value="{{search_string}}" style="width: 300px;"/>
                <input type="submit" value="Go"/>
                </form>
            </div>
        </div>
    </div>
	

    <div id="featured">
        <div class="container">
            <div id="content-border">
                <div id="content">
					<div id="sidebar-secondary">
						{% include "sidebar_left.html" %}
					</div>
					<div id="main-content">
						{% block content %}{% endblock %}
					</div>
                </div>
            </div>
        </div>
    </div>
	</div>
	
    <div id="footer">
		{% block footer %}
        <div class="container clearfix">
            <div class="onethird">
                <h4>మా గురించి</h4>
                <div>తెలుగు మాధ్యమంగా పిల్లలకు ఉపయోగకరమైన పుస్తకాలను, వివిధ విద్యా ఉపకరణాలను 
                    పిల్లలందరికీ అందుబాటులోకి తేవటం కోసం కొత్తపల్లి ట్రస్టు కృషి చేస్తోంది.
                    (<a href="#">ఇంకా...</a>)
                </div>
            </div>
            
            <div class="onethird" id="k-patrika">
                <h4>కొత్తపల్లి తెలుగు పిల్లల మాసపత్రిక</h4>
                <div>
                    <a href="#"><img src="http://placehold.it/100x150" /></a>
                    <br/>
                </div>
                
                <br style="clear: both;"/>
                <a href="#">కొత్తపల్లి 43వ పుస్తకం చదవండి</a>.
            </div>
            <div class="onethird" id="recent-posts">
                <h4>ఇటీవలి టపాలు</h4>
                <ul>
                    <li><a href="#">కొత్తపల్లి పుస్తకాల అంగడి ప్రారంభం</a> - <span class="date">2 రోజుల క్రితం</a>
                    <li><a href="#">విజయవాడ పుస్తక మహోత్సవంలో కొత్తపల్లి</a> - <span class="date">9 రోజుల క్రితం</a>
                </ul>
            </div>
			
        </div>
	
        <div class="container clearfix">
            <div id="copyright">
                <img src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"> some rights reserved, <a href="#">Kotapalli Trust</a> | Powered by <a href="#">Satchmo</a>
            </div>
        </div>
		{% endblock %}
    </div>
	{% block page-close %}
	    {% block google-tracker %}
	    {% if shop.options.GOOGLE.ANALYTICS.value %}
	        {% show_tracker is_secure %}
	    {% endif %}
	    {% endblock %}
	{% endblock %}
	
</body>
{% endblock %}
</html>
