{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}

{% block sidebar-secondary %}
<div id="right-sidebar">
	{% block sidebar %}
	<h3>{% trans "Categories" %}</h3>
	{% block sidebar-categories %}
	<div id="menu_container">
        {% if category.id %}
            {% category_tree category.id %}
        {% else %}
            {% if product.get_category %}
                {% category_tree product.get_category.id %}
            {% else %}
                {% category_tree %}
            {% endif %}
        {% endif %}
	</div>
	{% endblock sidebar-categories %}
	
	{% block sidebar-secondary-bottom %}
	{% plugin_point "sidebar_secondary_bottom" %}
	{% endblock %}
	{% endblock sidebar %}
</div>
{% endblock sidebar-secondary %}
