{% extends "dashboard/base.html" %}

{% block content %}

<h2>Add Books</h2>

<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ formset.management_form }}
    
    <table class="addbooks">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Published Date</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th>Cover Image</th>
        </tr>
        {% for form in formset.forms %}
            <tr>
                <td>{{ form.title }}</td>
                <td>{{ form.author }}</td>
                <td>{{ form.publisher }}</td>
                <td>{{ form.published_date }}</td>
                <td>{{ form.isbn }}</td>
                <td>{{ form.price }}</td>
                <td>{{ form.category }}</td>
                <td>{{ form.cover_image }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <input type="submit" name="submit" value="Save"/>
</form>

{% endblock %}